<h5> History Salary List</h5>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Employee</th>
            <th>Salary</th>
            <th>Date modified</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let emp of historySalary">
            <td>{{emp.id}}</td>
            <td>{{emp.employee.name}}</td>
            <td>{{emp.salary.salary}}</td>
            <td>{{emp.salary.fechaModificacion}}</td>
        </tr>
    </tbody>
</table>

<div class="form-group col">
  <button   (click) = "vermas(employee.id)" class = "form-control btn btn-danger" type ="submit">Volver</button>
</div>

